In [53]:
import numpy as np
import yaml
from os.path import join 
import pandas as pd

In [63]:
tbl_f = join('tracks', 'TLX3vsRAGvsTAP_DESeq2-results.txt')
tbl = pd.read_table(tbl_f, index_col=0)

In [64]:
tbl = tbl[(tbl.padj < 0.05)].dropna()

In [65]:
gene_names = pd.read_table("tracks/UCSC_mm9_transcripID_to_geneSymbol.sort.txt", 
                           index_col=0,
                           names=["Geneid", "NAME"])

In [66]:
names = gene_names.loc[tbl.index]

In [67]:
assert names.shape[0] == tbl.shape[0]

In [69]:
tbl_raw = tbl[['R2.RAG1W.RAG1','RAGS.RAGZ','RAGZ',
               'TLX3.1_1','TLX3.1_5','TLX3.1_P',
               'TAP','TAP1B','TAP2B']]

In [70]:
tbl_raw.head()

,R2.RAG1W.RAG1,RAGS.RAGZ,RAGZ,TLX3.1_1,TLX3.1_5,TLX3.1_P,TAP,TAP1B,TAP2B
Gene,,,,,,,,,
ENSMUST00000022242,2056.987517,2131.634145,2011.473416,21401.247207,21245.921524,24249.879198,8242.768963,7719.564495,8154.039494
ENSMUST00000103553,271.597527,271.477838,277.082483,6835.061283,6349.925517,6276.321481,1822.050055,1956.703443,1810.837282
ENSMUST00000001327,2552.895501,2555.664485,2345.103344,36095.769570,36297.826271,35931.089078,3645.231115,3400.993682,3362.042145
ENSMUST00000009058,358.896732,346.933914,364.327113,5908.059678,5787.208541,5810.555524,10466.326013,9496.327487,10094.034021
ENSMUST00000047485,117.611429,120.565687,96.938478,2679.023182,2837.332573,2822.641866,2114.980510,2074.677645,2249.708327

In [71]:
tbl_rawR=names.join(tbl_raw, how ='right')

In [72]:
#tbl_rawR.tail()

,NAME,R2.RAG1W.RAG1,RAGS.RAGZ,RAGZ,TLX3.1_1,TLX3.1_5,TLX3.1_P,TAP,TAP1B,TAP2B
Gene,,,,,,,,,,
ENSMUST00000131365,2410019O14Rik,17.581090,9.842097,14.540772,8.021027,6.195049,3.004942,11.310056,16.683221,15.815173
ENSMUST00000049378,Ablim3,5.456200,3.280699,3.231283,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
ENSMUST00000145870,Ica1,5.456200,3.280699,3.231283,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
ENSMUST00000153614,Ube2e3,33.343446,60.692931,49.277060,25.208944,33.040263,22.036239,13.572067,21.449855,21.086897
ENSMUST00000128442,Rab3d,2.424978,4.100874,5.654745,0.000000,1.032508,0.000000,1.131006,1.191659,1.317931

In [75]:
tbl_rawR['NAME']=tbl_rawR['NAME'].str.upper()
#tbl_rawR.head()

,NAME,R2.RAG1W.RAG1,RAGS.RAGZ,RAGZ,TLX3.1_1,TLX3.1_5,TLX3.1_P,TAP,TAP1B,TAP2B
Gene,,,,,,,,,,
ENSMUST00000022242,EMB,2056.987517,2131.634145,2011.473416,21401.247207,21245.921524,24249.879198,8242.768963,7719.564495,8154.039494
ENSMUST00000103553,TCRG-V7,271.597527,271.477838,277.082483,6835.061283,6349.925517,6276.321481,1822.050055,1956.703443,1810.837282
ENSMUST00000001327,ITGB7,2552.895501,2555.664485,2345.103344,36095.769570,36297.826271,35931.089078,3645.231115,3400.993682,3362.042145
ENSMUST00000009058,ABCB1B,358.896732,346.933914,364.327113,5908.059678,5787.208541,5810.555524,10466.326013,9496.327487,10094.034021
ENSMUST00000047485,RUNDC3B,117.611429,120.565687,96.938478,2679.023182,2837.332573,2822.641866,2114.980510,2074.677645,2249.708327

In [77]:
import gseapy as gp

classi = ['WT','WT','WT','MUT','MUT','MUT','MUT','MUT','MUT']

In [78]:
tbl_g = tbl_rawR.head(500)

#tbl_g.head()

,NAME,R2.RAG1W.RAG1,RAGS.RAGZ,RAGZ,TLX3.1_1,TLX3.1_5,TLX3.1_P,TAP,TAP1B,TAP2B
Gene,,,,,,,,,,
ENSMUST00000022242,EMB,2056.987517,2131.634145,2011.473416,21401.247207,21245.921524,24249.879198,8242.768963,7719.564495,8154.039494
ENSMUST00000103553,TCRG-V7,271.597527,271.477838,277.082483,6835.061283,6349.925517,6276.321481,1822.050055,1956.703443,1810.837282
ENSMUST00000001327,ITGB7,2552.895501,2555.664485,2345.103344,36095.769570,36297.826271,35931.089078,3645.231115,3400.993682,3362.042145
ENSMUST00000009058,ABCB1B,358.896732,346.933914,364.327113,5908.059678,5787.208541,5810.555524,10466.326013,9496.327487,10094.034021
ENSMUST00000047485,RUNDC3B,117.611429,120.565687,96.938478,2679.023182,2837.332573,2822.641866,2114.980510,2074.677645,2249.708327

In [80]:

gs_res = gp.gsea.call(data=tbl_g, 
                      gene_sets='KEGG_2016', 
                      cls=classi,
                      permutation_type='phenotype',
                      outdir='gsea_reprot')

2017-07-06 15:59:38,513 Parsing data files for GSEA.............................
2017-07-06 15:59:44,690 1 gene_sets used for further statistical testing.....
2017-07-06 15:59:44,691 Start to run GSEA...Might take a while..................
/home/sergio/miniconda3/lib/python3.5/site-packages/gseapy/algorithm.py:297: RuntimeWarning: invalid value encountered in true_divide
  choicelist = [np.sum(esnull < es.reshape(len(es),1), axis=1)/ np.sum(esnull < 0, axis=1) ,
/home/sergio/miniconda3/lib/python3.5/site-packages/numpy/core/_methods.py:59: RuntimeWarning: Mean of empty slice.
  warnings.warn("Mean of empty slice.", RuntimeWarning)
/home/sergio/miniconda3/lib/python3.5/site-packages/numpy/core/_methods.py:70: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)
2017-07-06 16:03:13,211 Start to generate gseapy reports, and produce figures...
2017-07-06 16:03:14,014 Congratulations. GSEAPY run successfully................

In [58]:
#tbl_g.to_csv('TLXgsea.txt', sep='\t')